<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}You Gotta Watch..{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.6/foundation.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.6/foundation.min.js"></script>
    </head>
    <body>
        <div class="row">
        {% block body %}{% endblock %}
        </div>
    </body>
</html>
